body {
  background-color: var(--bg);
  color: white;
  overflow: hidden;
}
.react-draggable {
  float: left;
}

.react-contextmenu {
  border: solid #6c7580 0.5px;
  background-color: gray;
  cursor: pointer;
}

.react-contextmenu-item {
  padding: 0 0.5em 0 0.5em;
}

.react-contextmenu-item--selected {
  background-color: var(--bg);
}
